<div class="sidebar-top">
    <h1>Kaj so projekti?</h1>
</div>
<div class="sidebar-text">
    <p>V društvu izvajamo večje število projektov, nekateri od teh so namenjeni splošni populaciji (brezplačni tečaji prve pomoči, otroška bolnišnica Medimedo), drugi pa so namenjeni študentom (božični koncert, pevski zbor, motivacijski vikendi).</p>
    <p>Projekt lahko začne in vodi kateri koli član društva, ki izpolni obrazec Prijava projekta, in ki ga potrdi Upravni odbor društva. Društvo si prizadeva izvajati čim večje število projektov na različnih področjih, hkrati pa vzdrževati in nadgrajevati kakovost in kontinuiteto teh projektov.</p>
</div>




