{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}

<div class="sidebar-top">
    <h1>Društvo študentov medicine Maribor</h1>
</div>
<div class="sidebar-text">
    <p>DŠMM je bil ustanovljen maja 2005 z namenom povezovanja študentov nove fakultete in razvoja obštudijskih aktivnosti.</p>
    <p>Danes velja za bolj uspešno študentsko društvo v regiji. Povezuje vse generacije študentov, hkrati pa izvaja kvalitetne projekte za splošno populacijo.</p>
</div>
<div id="likebox">
    <div class="fb-like" data-href="http://www.facebook.com/pages/Dru%C5%A1tvo-%C5%A0tudentov-Medicine-Maribor-D%C5%A0MM/153600744737277" data-send="false" data-width="210" data-show-faces="true"></div>
</div>

{% include 'doodle/doodle.html' %}
