<div class="header-function">
<header>
    <div id="header-bg">
        <a href="{% url blog_home %}"><div id="logo-top">Društvo študentov medicine Maribor</div></a>
        <div id="projekti-top">
            <div class="a"><a href="#">Medimedo</a></div>
            <div class="b"><a href="#">Pedolandija</a></div>
            <div class="c"><a href="#">Akademski pevski zbor MF UM</a></div>
            <div class="d"><a href="">Za Življenje</a></div>
            <div class="e"><a href="#">Motivacijski vikend</a></div>
            <div class="f"><a href="#">Brucovanje</a></div>
            <div class="g"><a href="#">Božični koncert</a></div>
            <div class="h"><a href="#">DocFest</a></div>
            <div class="i"><a href="#">Epruvetka</a></div>
            <div class="j"><a href="#">Insajder</a></div>
            <div class="k"><a href="#">Ljubezen in spolnost</a></div>
            <div class="l"><a href="#">Dramska skupina</a></div>
            <div class="m"><a href="#">Mediakt</a></div>
            <div class="n"><a href="#">Zdravo srce</a></div>
        </div>
        {% comment %}
        <div id="email-top">
            <a href="mailto:dsmm@medicinec.si"><p>Piši nam</p></a>
            <a href="mailto:dsmm@medicinec.si"><div id="mail-icon"></div></a>
        </div>
        {% endcomment %}
    </div>

</header>
    <div id="header-shadow"></div>
<div style="clear: both"></div>
</div>