
<div class="sponzorji">
    <a href="http://www.mf.uni-mb.si/" target="_blank"><div id="mf" class="sponzor"></div></a>
    <a href="http://jazbec.net/" target="_blank"><div id="jazbec" class="sponzor"></div></a>
    <a href="http://www.krka.si/" target="_blank"><div id="krka" class="sponzor"></div></a>
    <a href="http://www.soum.si/" target="_blank"><div id="soum" class="sponzor"></div></a>
    <a href="http://studentskisvet.mf.uni-mb.si/" target="_blank" class="sponzor"><div id="stud-svet"></div></a>
</div>


<div style="clear: both"></div>

